<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/login">ログイン画面に戻る</a>
        <a href="/post">新規投稿</a>
        <a href="">投稿リスト</a>
    </header>
    <main>
        {% for item in data %}
        <div>
            <h3>{{item[1]}}</h3>
            <p>{{item[2]}}</p>
            <th>{{item[0]}}</th>
            <th>{{item[3]}}</th>
        </div>
        {% endfor %}
    </main>
</body>
</html>