<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="plate" id="title">
        <h1><span>ツイッターみたいなやつ</span></h1>
    </div>
    <form method="POST">
        
    </form>
    <ol>
        <p>
            <a href="/login">ログイン</a>
            <a href="/signUp_form">新規登録</a>
        </p>
    </ol>
</body>
</html>