<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>

<body>
    <div class="plate" id="title">
        <h1><span class="title">投稿リスト</span></h1>
    </div>
    <header>
        <div class="side">
            <div class="plate2"><a href="/login">ログイン画面に戻る</a></div>
            <div class="plate3"><a href="/post">新規投稿</a></div>
            <div class="plate4"><a href="/home">ホーム</a></div>
        </div>
    </header>
    <main>
        <div class="space">
            {% for item in data %}
            <br><br><br>
            <div class="post">
                <span class="tape"><div>{{item[1]}}</div></span>
                <div>name: {{item[0]}}</div>
                <div>&emsp;{{item[2]}}</div>
                
                {% if (item[3]!= "") %} {% if (item[3]!=None) %} {% if (item[3] != "static/pictures/") %}
                <img src="{{item[3]}}"> {% endif %} {% endif %} {% endif %}
                <div class="right">{{item[4]}}</div>
            </div>
            <br><br>{% endfor %}
            {% if (dataLen == 0) %}
            <div class="noPosts">
                <p>投稿がありません</p>
            </div>
            {% endif %}
        </div>
    </main>
</body>

</html>