<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>

<body>
    <div class="plate" id="title">
        <h1><span class="title">投稿リスト</span></h1>
    </div>
    <header>
        <div class="side">
            <div class="plate2"><a href="/login">ログイン画面に戻る</a></div>
            <div class="plate3"><a href="/post">新規投稿</a></div>
            <div class="plate4"><a href="/home">ホーム</a></div>
        </div>
    </header>
    <main>
        <div class="space">
            {% for item in data %}
            <div class="post">
                <span class="tape"><h3>{{item[1]}}</h3></span>
                <div>{{item[2]}}</div>
                <th>{{item[0]}}</th>
                <th>{{item[4]}}</th>
                {% if (item[3]!="") %} {% if (item[3]!=None) %}
                <img src="{{item[3]}}"> {% endif %} {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>