<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signUp_form.css">
    <title>Document</title>
</head>
<body>
<main>
    <h1>新規登録</h1>
    <form action="" method="POST">
        <p class="name_input">
            <label for="id">名前: 
                <input type="text" id="your_id" name="id">
            </label>
            <label for="password">パスワード: 
                <input type="text" id="your_password" name="password">
            </label>
            <label for="password">パスワード２回目: </label>
            <input type="text" id="your_password2" name="password2">
            <input type="submit" value="登録">
        </p>
    </form>
</main>
</body>
</html>